*{
    font-family: monospace;
}
.logowanie{
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: #e40000;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #820000;
    margin: auto;
    color: white;
}   

.button-logowanie{
    height: 25px;
    width: 75px;
    border-radius: 7px;
    color: white;
    background-color: #9d0000;
}
.button-tworzenie
{
    height: 27px;
    width: 115px;
    border-radius: 7px;
    color: white;
    background-color: #9d0000;
}
.header{
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}
hr{
    
}

.main_index{
    text-align: center;
    width: 50%;
    background-color: #e40000;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 15px 15px 20px #820000;
    color: white;
    margin: auto;
}

.main_logout{
    text-align: center;
    width: 15%;
    height: 15%;
    background-color: #e40000;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #820000;
    color: white;
    margin: auto;
}

img{
    width: 50%;
    border: 3px solid black;
    box-shadow: 5px 5px 20px #820000;
    border-radius: 20px;
    margin-bottom: 20px;
}

.lista{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    background-color: #c60000;
    box-shadow: 5px 5px 20px #820000;
}
.button-lista{
    height: 28px;
    width: 180px;
    margin: 5px;
    border-radius: 7px;
    color: white;
    background-color: #9d0000;
}

.nav{
    text-align: center;
    margin-bottom: 15px;
}
.main{
    text-align: center;
}
.footer{
    text-align: center;
}